
ALTER TRIGGER [trg_book_audit] ON [books]
AFTER INSERT, DELETE, UPDATE
AS BEGIN
        INSERT INTO books_audit(book_id, operation_time, operation)
              SELECT bookid, GETDATE(), 'INSERT' FROM inserted 
                   WHERE bookid NOT IN (SELECT bookid FROM deleted)
              UNION
              SELECT bookid, GETDATE(), 'DELETE' FROM deleted
                   WHERE bookid NOT IN (SELECT bookid FROM inserted)
              UNION 
              SELECT i.bookid, GETDATE(), 'UPDATE' FROM inserted i
              INNER JOIN deleted d
              ON i.bookid = d.bookid
END

